
<div class="title">
  <p>Your Albums</p>
</div>
<div>
    <%= link_to "Create a new album", new_artist_path, :class => 'btn btn-lg btn-info'  %>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <% @artist.each do |artist| %>
        <% artist.albums.each do |album|%>
       
        <p><%= album.title%><p>
        <div>
            <%= link_to "Edit", edit_artist_album_path(artist, album), :class => 'btn btn btn-warning' %>
            <%= link_to "Delete", artist_album_path(artist, album),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn  btn-danger' %>
           </div>
        <%end%>
        <%end%>
      </h4>
    </div>
  </div>
</div>

    

