
<div class="main_title">
  <p>Album</p>
</div>
<div>
  <h1><%=@album.title%></h1>
</div>
<div>
    <%= link_to "Create a new track", new_album_track_path(@album), :class => 'btn btn-lg btn-info'  %>
</div>
<div class="white_space"></div>
<div class="main_title">
  <p>Tracks</p>
</div>
<%@album.tracks.each do |track|%>
<%=track.title%>
<%end%>